.cont_span{
    /* background-color: aqua; */
    padding: 0.5em 0.5em 0.5em;
}

.container_btn {
    background-color: rgb(43, 161, 161);
    transition: all 0.4s ease;
    border-radius: 10% 10%;
    box-shadow: 0px 2px 2px rgb(93, 125, 136); 
    border-radius: 54px 54px 54px 54px;
    -moz-border-radius: 54px 54px 54px 54px;
    -webkit-border-radius: 54px 54px 54px 54px;
    border: 0px none #000000;
}

.container_btn:hover {
    cursor: pointer;
    box-shadow: 0px 10px 10px rgb(93, 125, 136); 
    background-color: rgb(31, 212, 212);
    transform: translateY(-3px);
    /* background-color:blue; */
}

.container {
    margin-top: 1em;
}

.contenedor_form {
    padding-bottom: 20px;
}

.title {
    padding: 10px 0px 20px 0px !important;
}

.separador {
    border-top: 4px solid #026164;
}

.separador_padding {
    padding: 20px 10px 0px 10px !important;
}